
* {
    font-family: Roboto, sans-serif;
    color: black;
}

a:hover {
    text-decoration: underline !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: rgba(221, 221, 221, 0.5);
}

input[type=datetime-local] {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem 2.25rem .375rem .75rem;
}